<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LimberGridView - Flexible grids for your web application</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
		/>
		<!-- <link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/> -->
		<link rel="stylesheet" type="text/css" href="main://css/index.css" />
		<link rel="icon" href="/assets/favicon.png" />
		<meta
			name="viewport"
			content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no"
		/>
	</head>
	<body>
		<div id="root"></div>
		<div id="development-console"></div>
		<script
			type="text/javascript"
			src="main://js/electron.index.js"
			charset="utf-8"
		></script>
	</body>
</html>
