.page-home {
  height: calc(100% - 50px);
  .tools-container {
    display: flex;
    height: 20px;
    padding: 0px 10px;
    button {
      background-color: transparent;
      color: #151d2d;
      height: 20px;
      margin: 0px 10px;
    }

    .button-active {
      color: blue;
      text-decoration: underline;
    }

    .lgv-tools-container {
      flex: 1;
      padding: 3px 10px 0px 10px;
    }
  }
  .lgv-container {
    height: calc(100% - 20px);
  }
}
