.header {
  display: flex;
  height: 50px;
  background-color: #bb1819;
  color: #f9ffff;
  padding: 7px;

  .header-banner {
    flex: 1;
  }

  .star-on-github {
    width: 120px;
    color: white;
    font-size: 12px;
    span {
      margin: 0 5px;
    }
  }
}
