* {
	box-sizing: border-box;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;

	font-size: 14px;
	text-align: justify;
}

@font-face {
	font-family: "Comic Sans MS";
	src: url("/assets/fonts/Comic_Sans_MS.ttf");
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;

	background-color: #f1f2f3;
	color: #151d2d;
	overflow: hidden;
}

p {
	margin: 0;
}

.button {
	background-color: #666;
	border: none;
	min-width: 100px;
	height: 30px;
	color: #fff;
	border-radius: 5px;
	margin: 5px 10px;
	cursor: pointer;
}

.button:disabled {
	cursor: not-allowed;
}
