.footer {
  height: 180px;
  background-color: #172030;
  color: white;
  overflow: hidden;
  font-size: 10px;
  padding: 10px;
  a {
    color: white;
  }
  b {
    text-decoration: underline;
  }
}
