.footer {
	text-align: justify;
	// background-color: #172030;
	background-color: #28282a;
	color: white;
	overflow: hidden;
	font-size: 10px;
	padding: 3px 10px;
	a {
		color: white;
	}
	b {
		text-decoration: underline;
	}
	position: fixed;
	top: calc(100% - 20px);
	left: 0;
}

.footer:hover {
	padding: 15px;
	top: initial;
	bottom: 0;
}
