.footer {
	background-color: #172030;
	color: white;
	overflow: hidden;
	font-size: 10px;
	padding: 3px 10px;
	a {
		color: white;
	}
	b {
		text-decoration: underline;
	}
	position: fixed;
	top: calc(100% - 20px);
	left: 0;
}

.footer:hover {
	top: initial;
	bottom: 0;
}
